---
type TocHeading = {
	depth: number;
	slug: string;
	text: string;
};

interface Props {
	headings?: TocHeading[];
}

const { headings = [] } = Astro.props as Props;
const tocItems = headings.filter((item) => item.depth === 2 || item.depth === 3);
---

{
	tocItems.length > 0 && (
		<ul class="m-0 list-none space-y-0.5 p-0">
			{
				tocItems.map((item) => (
					<li class:list={['m-0', item.depth === 3 && 'pl-3']}>
						<a
							href={`#${item.slug}`}
							data-toc-link
							class="block rounded-md px-2 py-1 text-sm leading-6 text-zinc-600 no-underline transition-colors hover:bg-zinc-100 hover:text-zinc-900 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-100"
						>
							{item.text}
						</a>
					</li>
				))
			}
		</ul>
	)
}
